h1 {
  display: inline-block;
  margin: 0px 0px;  
}

nav {
  background-color: black;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  padding: 10px 10px;
  margin: 0px;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: orange;
}