/*
// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

header {
  background-color: black;
  padding-left: 25px;
  box-sizing: border-box;
  border-bottom: solid yellow;
}

h1 {
  font-family: 'Merriweather', serif;
  color: yellow;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px 10px;
}

nav {
  margin-top: 30px;
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.tagline {
  background-color: #C6C6C6;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-style: italic;
}

.image {
  height: 425px;
  background-image: url("../img/coworking.jpg");
  background-size: cover;
}

.float {
  background-color: rgba(255, 255, 255, 0.75);
  width: 33%;
  height: auto;
  padding: 25px 20px;
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  box-shadow: 1px 1px 1px 1px;
}

p {
  line-height: 22px;
}

#meetyourmatch {
  font-family: 'Oswald', serif;
  font-weight: 700;
  font-size: 20px;
}

#yellowbutton {
  width: 100%;
  height: auto;
  opacity: 1.0;
  background-color: yellow;
  border-style: none;
  box-shadow: 0px 1px 0px;
}

.scroll {
  background-color: #ededed;
  height: 250px;
}

.scrolltext {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0px 50px;
  border-left: solid gray 1px;
}

.scrolltext:first-child {
  border-style: none;
}

.actiontitle {
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

.graybuttons {
  background-color: lightgray;
  width: 100%;
  border-style: none;
  box-shadow: 0px 1px 0px;
}

#taste {
  color: darkgray;
  text-decoration: line-through;
}

#are {
  border-bottom: solid yellow 3px;
}

footer {
  color: white;
  background-color: black;
  height: 50px;
  text-align: left;
  padding-top: 25px;
  padding-left: 25px;
}